ark:
  container_name: ark
  image: motey/arkserver
  environment:
    - SESSIONNAME=Ark Docker
    - SERVERMAP=TheIsland
    - SERVERPASSWORD=
    - ADMINPASSWORD=adminpassword
    - BACKUPONSTART=1
    - UPDATEONSTART=1
    - TZ=America/Toronto
    - NBPLAYERS=30
    - GID=1000
    - UID=1000
  volumes:
    - /my/path/to/ark:/ark
    - /my/path/to/cluster:/cluster
  ports:
   - 7778:7778/udp
   - 7778:7778
   - 27015:27015/udp
   - 27015:27015
   - 32330:32330
